* {
  margin: 0;
  padding: 0;
  color: white;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
  background-color: black;
  font-family: "Roboto", sans-serif;
}

.container {
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 15px;
}
